@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Force white background regardless of system preference */
body {
  background: #ffffff !important;
  color: #171717;
  font-family: var(--font-lilita-one);
}

html {
  background: #ffffff !important;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.potential-payout {
  color: #ff9;
  text-shadow: 0 1px 0 #000;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #000;
  font-family: "Lilita One";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}
